[submodule "SGPC/service/api"]
	path = service/api
	url = git@github.com:victorgmp/SGPC-api.git 
		branch = main
[submodule "SGPC/service/auth"]
	path = service/auth
	url = git@github.com:victorgmp/SGPC-auth.git
		branch = main
[submodule "SGPC/service/user"]
	path = service/user
	url = git@github.com:victorgmp/SGPC-user.git
		branch = main
