[submodule "services/SGPC-api"]
	path = services/api
	url = https://github.com/victorgmp/SGPC-api.git
		branch = main
[submodule "services/SGPC-auth"]
	path = services/auth
	url = https://github.com/victorgmp/SGPC-auth.git
		branch = main
[submodule "services/SGPC-users"]
	path = services/users
	url = https://github.com/victorgmp/SGPC-users.git
		branch = main
